Temp/*
Library/*
Assets/Chess Set.meta
Assets/Chess Set/Chess Set.fbx
Assets/Chess Set/Chess Set.fbx.meta
Assets/Chess Set/Materials.meta
Assets/Chess Set/Materials/Base Green.mat
Assets/Chess Set/Materials/Base Green.mat.meta
Assets/Chess Set/Materials/Black Pieces.mat
Assets/Chess Set/Materials/Black Pieces.mat.meta
Assets/Chess Set/Materials/Black Squares.mat
Assets/Chess Set/Materials/Black Squares.mat.meta
Assets/Chess Set/Materials/Chess Board.mat
Assets/Chess Set/Materials/Chess Board.mat.meta
Assets/Chess Set/Materials/White Line.mat
Assets/Chess Set/Materials/White Pieces.mat
Assets/Chess Set/Materials/White Pieces.mat.meta
Assets/Chess Set/Materials/White Squares.mat.meta
Assets/Chess Set/Materials/White Squares.mat
Assets/Chess Set/Materials/White Line.mat.meta
Assets/Chess Set/Textures.meta
Assets/Chess Set/Textures/Fabric024_2K_Color.png
Assets/Chess Set/Textures/Fabric024_2K_Color.png.meta
Assets/Chess Set/Textures/Wood010_2K_Color.png
Assets/Chess Set/Textures/Wood010_2K_Color.png.meta
Assets/Chess Set/Textures/Wood013_2K_Color.png
Assets/Chess Set/Textures/Wood013_2K_Color.png.meta
Assets/Chess Set/Textures/Wood021_2K_Color.png
Assets/Chess Set/Textures/Wood021_2K_Color.png.meta
Assets/Chess Set/Textures/Wood024_2K_Color.png
Assets/Chess Set/Textures/Wood024_2K_Color.png.meta
Library/Artifacts/31/31ac35cc9b92d1ff415f9ed6431f661b
Library/Artifacts/3b/3bdee32bb30960acd3b10227500ee20b
Library/Artifacts/81/81951999ffa8f4ab1aba09d0a220c7bf
*.meta
